<header class="header">
    <nav class="navbar">
        <a href="/" class="nav-logo"><img src="images/logo.png" width="150px"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>

            <li class="nav-item">
                <% if(locals.user){%> 
                    <a href="/profile" class="nav-link">
                        <%=locals.user.name%>
                    </a>
                    <% }else{%>
                        <div class="dropdown nav-link">Account
                            <div class="dropdown-content">
                                <b>Welcome</b>
                                <p>To access account and manage orders</p>
                                <button>
                                    <a href="/login">LOGIN / SIGNUP</a>
                                </button>
                            </div>
                        </div>
                    <%}%>
            </li> 
            <% if(locals.user){%>
            <li class="nav-item">
                <a href="#" class="nav-link" rel="noopener noreferrer"><%= user.points%> &nbsp;<i class="fas fa-coins" style="color: rgb(255, 174, 0);"></i></a>
            </li>
            <%}%>
            <li class="nav-item">
                <a href="/cart" class="nav-link"><img src="images/cart.png" width="25px" height="25px"></a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div id="navbar-content-div" class="navbar-content"></div>
</header>