<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="images/logo.png" width="150px">
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
                <li><img src="images/cart.png" width="25px" height="25px"></li>
            </ul>
        </nav>
    </div>
</div>