<header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo"><img src="images/logo.png" width="150px"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>

            <li class="nav-item">
                <% if(locals.user){%>
                    <a href="#" class="nav-link">
                        <%=locals.user.name%>
                    </a>
                    <% }else{%>
                        <a href="#" class="nav-link">Account</a>
                        <%}%>
            </li>
            <li class="nav-item">
                <a href="/cart" class="nav-link"><img src="images/cart.png" width="25px" height="25px"></a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>