<link rel="stylesheet" href="css/home.css">
<div class="row">
    <div class="col-2">
        <h1>Give Your Workout <br> A New Style!</h1>
        <p>Success isn't always about greatness. It's about consistency. Consistency hard work gains success. Greatness
            will come.</p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="images/image1.png">
    </div>
</div>

<!--  featured categories    -->

<div class="categories">
    <div class="small-container">
        <div class="row-2">
            <div class="col-3">
                <img src="images/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-2.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-3.jpg">
            </div>
        </div>
    </div>
</div>

<!--  featured products    -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row-2">
        <div class="col-4">
            <img src="images/product-1.jpg">
            <h6>Red Printed T-Shirt</h6>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="images/product-2.jpg">
            <h6>HRX Black Shoes</h6>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <p>$60.00</p>
        </div>
        <div class="col-4">
            <img src="images/product-3.jpg">
            <h6>Comfortable Gray Pants</h6>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p>$65.00</p>
        </div>
        <div class="col-4">
            <img src="images/product-4.jpg">
            <h6>Plain Navy Blue T-Shirt</h6>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>$55.00</p>
        </div>
    </div>
</div>