<link rel="stylesheet" href="css/login_page.css">
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <svg width="586" height="421" viewBox="0 0 586 421" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102:64)">
                        <path
                            d="M586 421C555.805 416.584 526.766 412.777 498.884 409.579L509.909 391.763C506.193 390.666 489.861 400.823 489.861 400.823L504.334 349.026C485.64 350.824 476.128 403.737 476.128 403.737L455.245 385.736L465.353 405.912C380.016 397.116 306.316 393.66 244.325 393.261L253.762 378.013C250.045 376.916 233.713 387.073 233.713 387.073L248.186 335.276C229.493 337.074 219.98 389.986 219.98 389.986L199.097 371.986L209.804 393.355C157.834 393.984 115.454 396.754 82.7418 399.984C92.2878 376.205 124.707 353.697 124.707 353.697C99.9503 359.739 86.9629 369.994 80.1759 379.579C79.6571 350.162 83.1471 295.643 109.076 235.386C109.076 235.386 57.8927 328.241 64.4129 390.758L65.1922 401.858C21.8107 406.851 0 412.153 0 412.153L586 421Z"
                            fill="#3F3D56" />
                        <path
                            d="M311.597 16.8624V392.083C311.592 396.553 309.811 400.838 306.645 403.998C303.479 407.157 299.187 408.933 294.71 408.934H142.166C139.948 408.938 137.752 408.505 135.702 407.66C133.652 406.814 131.79 405.573 130.221 404.008C128.652 402.443 127.408 400.584 126.561 398.537C125.713 396.491 125.277 394.298 125.28 392.083V16.8624C125.28 14.6479 125.716 12.4551 126.565 10.4092C127.413 8.3633 128.657 6.50433 130.225 4.93848C131.793 3.37262 133.655 2.13056 135.704 1.28321C137.753 0.435866 139.948 -0.000160286 142.166 3.13087e-05H164.994V2.9233C164.994 6.6055 166.458 10.1371 169.065 12.7414C171.672 15.3456 175.208 16.8092 178.895 16.8103H256.48C259.448 16.8166 262.339 15.8665 264.723 14.1012C265.205 13.7511 265.662 13.3682 266.091 12.955C267.449 11.6601 268.53 10.1033 269.267 8.37882C270.005 6.65439 270.384 4.79836 270.381 2.9233V3.13087e-05H294.71C296.928 -0.00064714 299.124 0.435049 301.173 1.28222C303.222 2.12939 305.084 3.37144 306.652 4.93739C308.22 6.50334 309.464 8.3625 310.313 10.4086C311.161 12.4548 311.597 14.6478 311.597 16.8624V16.8624Z"
                            fill="#3F3D56" />
                        <path
                            d="M167.777 66.5696C170.018 66.5696 171.834 64.7554 171.834 62.5175C171.834 60.2796 170.018 58.4655 167.777 58.4655C165.535 58.4655 163.719 60.2796 163.719 62.5175C163.719 64.7554 165.535 66.5696 167.777 66.5696Z"
                            fill="#F2F2F2" />
                        <path
                            d="M266.091 12.955C265.662 13.3682 265.205 13.7511 264.723 14.1012C269.693 22.8344 276.426 30.4412 284.495 36.439C292.564 42.4368 301.793 46.6949 311.597 48.9432V47.1371C302.058 44.89 293.089 40.6922 285.256 34.8088C277.424 28.9254 270.898 21.4842 266.091 12.955Z"
                            fill="#F262FF" />
                        <path
                            d="M231.42 16.8102H229.519C236.269 33.9366 247.402 48.994 261.805 60.4777C276.208 71.9614 293.377 79.4693 311.597 82.251V80.4565C293.852 77.7047 277.129 70.3899 263.072 59.231C249.015 48.072 238.107 33.4529 231.42 16.8102V16.8102Z"
                            fill="#F262FF" />
                        <path
                            d="M196.396 16.8102H194.564C209.885 69.9154 256.115 109.446 311.597 115.866V114.1C257.077 107.71 211.641 68.9313 196.396 16.8102Z"
                            fill="#F262FF" />
                        <path
                            d="M154.443 92.5155H153.387V91.4608H153.182V92.5155H152.125V92.7216H153.182V93.7763H153.387V92.7216H154.443V92.5155Z"
                            fill="#F2F2F2" />
                        <path
                            d="M225.745 39.8387H224.689V38.784H224.483V39.8387H223.426V40.0448H224.483V41.0995H224.689V40.0448H225.745V39.8387Z"
                            fill="#F2F2F2" />
                        <path
                            d="M164.878 134.194H163.822V133.139H163.616V134.194H162.559V134.4H163.616V135.455H163.822V134.4H164.878V134.194Z"
                            fill="#F2F2F2" />
                        <path
                            d="M213.571 103.514H212.515V102.459H212.31V103.514H211.253V103.72H212.31V104.775H212.515V103.72H213.571V103.514Z"
                            fill="#F2F2F2" />
                        <path
                            d="M283.134 122.617H282.078V121.562H281.872V122.617H280.815V122.823H281.872V123.877H282.078V122.823H283.134V122.617Z"
                            fill="#F2F2F2" />
                        <path
                            d="M270.961 74.6737C272.241 74.6737 273.279 73.637 273.279 72.3582C273.279 71.0794 272.241 70.0428 270.961 70.0428C269.68 70.0428 268.642 71.0794 268.642 72.3582C268.642 73.637 269.68 74.6737 270.961 74.6737Z"
                            fill="#FF6584" />
                        <path
                            d="M187.892 126.656L186.576 126.858C186.987 129.487 187.312 132.172 187.55 134.829L188.877 134.714C188.639 132.022 188.309 129.313 187.892 126.656Z"
                            fill="#E6E6E6" />
                        <path
                            d="M184.292 110.83L183.016 111.218C183.787 113.765 184.477 116.375 185.063 118.974L186.367 118.679C185.77 116.051 185.069 113.411 184.292 110.83Z"
                            fill="#E6E6E6" />
                        <path
                            d="M178.547 95.6518L177.336 96.2075C178.449 98.633 179.492 101.122 180.437 103.611L181.683 103.142C180.727 100.624 179.678 98.1004 178.547 95.6518Z"
                            fill="#E6E6E6" />
                        <path
                            d="M170.779 81.4232L169.655 82.1353C171.087 84.3812 172.46 86.7083 173.736 89.0411L174.907 88.4044C173.62 86.0427 172.229 83.6924 170.779 81.4232Z"
                            fill="#E6E6E6" />
                        <path
                            d="M161.122 68.3815L160.107 69.244C161.835 71.27 163.516 73.3887 165.104 75.5305L166.171 74.7374C164.571 72.5724 162.872 70.4306 161.122 68.3815Z"
                            fill="#E6E6E6" />
                        <path
                            d="M149.771 56.7694L148.885 57.7593C150.879 59.5364 152.832 61.4061 154.693 63.3106L155.65 62.3786C153.766 60.4509 151.789 58.5638 149.771 56.7694Z"
                            fill="#E6E6E6" />
                        <path
                            d="M136.949 46.8013L136.201 47.9011C138.415 49.3888 140.607 50.9749 142.711 52.6131L143.534 51.5653C141.401 49.9098 139.186 48.3064 136.949 46.8013Z"
                            fill="#E6E6E6" />
                        <path
                            d="M125.28 39.8781V41.3832C126.665 42.1067 128.039 42.865 129.384 43.6407L130.051 42.4888C128.485 41.5857 126.895 40.7155 125.28 39.8781Z"
                            fill="#E6E6E6" />
                        <path
                            d="M187.59 251.693C187.807 250.398 188.004 249.077 188.179 247.765L189.5 247.94C189.324 249.266 189.124 250.602 188.905 251.911L187.59 251.693Z"
                            fill="#E6E6E6" />
                        <path
                            d="M183.875 267.31L185.149 267.706C185.948 265.134 186.671 262.499 187.298 259.873L186 259.567C185.379 262.164 184.669 264.766 183.875 267.31Z"
                            fill="#E6E6E6" />
                        <path
                            d="M178.054 282.263L179.264 282.829C180.414 280.393 181.49 277.884 182.466 275.371L181.222 274.886C180.258 277.372 179.193 279.854 178.054 282.263Z"
                            fill="#E6E6E6" />
                        <path
                            d="M170.222 296.291L171.34 297.016C172.814 294.758 174.228 292.418 175.545 290.064L174.382 289.413C173.083 291.741 171.68 294.054 170.222 296.291Z"
                            fill="#E6E6E6" />
                        <path
                            d="M160.531 309.106L161.542 309.98C163.315 307.938 165.034 305.813 166.664 303.665L165.596 302.868C163.99 304.992 162.288 307.09 160.531 309.106Z"
                            fill="#E6E6E6" />
                        <path
                            d="M149.184 320.478L150.062 321.479C152.1 319.703 154.094 317.83 155.998 315.926L155.055 314.983C153.172 316.867 151.196 318.715 149.184 320.478Z"
                            fill="#E6E6E6" />
                        <path
                            d="M136.4 330.198L137.137 331.311C139.387 329.827 141.623 328.245 143.767 326.615L142.961 325.553C140.837 327.169 138.629 328.733 136.4 330.198Z"
                            fill="#E6E6E6" />
                        <path
                            d="M130.201 335.54C128.59 336.449 126.943 337.328 125.28 338.162V336.668C126.717 335.939 128.143 335.169 129.54 334.388L130.201 335.54Z"
                            fill="#E6E6E6" />
                        <path
                            d="M187.981 143.041L189.314 143.017C189.338 144.36 189.34 145.711 189.319 147.032L187.987 147.011C188.007 145.705 188.006 144.37 187.981 143.041Z"
                            fill="#E6E6E6" />
                        <path
                            d="M131.135 174.604H267.483C277.63 174.604 287.361 178.63 294.536 185.794C301.711 192.959 305.742 202.677 305.742 212.81V217.867H169.394C159.247 217.867 149.515 213.842 142.34 206.677C135.165 199.512 131.135 189.794 131.135 179.662V174.604V174.604Z"
                            fill="white" />
                        <path
                            d="M221.623 408.402C221.49 408.185 218.354 402.955 217.266 392.095C216.269 382.131 216.91 365.336 225.633 341.908C242.157 297.526 221.824 261.716 221.617 261.359L222.62 260.778C222.672 260.868 227.919 269.999 231.018 284.537C235.114 303.812 233.622 323.853 226.719 342.312C210.223 386.618 222.487 407.592 222.613 407.799L221.623 408.402Z"
                            fill="#F2F2F2" />
                        <path
                            d="M215.162 258.753C219.324 258.753 222.698 255.384 222.698 251.228C222.698 247.072 219.324 243.703 215.162 243.703C211 243.703 207.626 247.072 207.626 251.228C207.626 255.384 211 258.753 215.162 258.753Z"
                            fill="#F262FF" />
                        <path
                            d="M238.929 286.539C243.091 286.539 246.465 283.169 246.465 279.013C246.465 274.857 243.091 271.488 238.929 271.488C234.767 271.488 231.393 274.857 231.393 279.013C231.393 283.169 234.767 286.539 238.929 286.539Z"
                            fill="#F2F2F2" />
                        <path
                            d="M222.698 305.062C226.86 305.062 230.234 301.693 230.234 297.537C230.234 293.381 226.86 290.012 222.698 290.012C218.536 290.012 215.162 293.381 215.162 297.537C215.162 301.693 218.536 305.062 222.698 305.062Z"
                            fill="#F262FF" />
                        <path
                            d="M242.407 320.692C246.569 320.692 249.943 317.323 249.943 313.166C249.943 309.01 246.569 305.641 242.407 305.641C238.245 305.641 234.871 309.01 234.871 313.166C234.871 317.323 238.245 320.692 242.407 320.692Z"
                            fill="#F262FF" />
                        <path
                            d="M216.901 345.004C221.063 345.004 224.437 341.635 224.437 337.479C224.437 333.323 221.063 329.954 216.901 329.954C212.739 329.954 209.365 333.323 209.365 337.479C209.365 341.635 212.739 345.004 216.901 345.004Z"
                            fill="#F2F2F2" />
                        <path d="M226.176 408.679C226.176 408.679 218.64 390.156 241.248 376.263L226.176 408.679Z"
                            fill="#F2F2F2" />
                        <path d="M216.908 408.343C216.908 408.343 213.478 388.645 186.933 388.814L216.908 408.343Z"
                            fill="#F2F2F2" />
                        <path opacity="0.2"
                            d="M186.906 242.545C212.518 242.545 233.281 221.811 233.281 196.236C233.281 170.66 212.518 149.926 186.906 149.926C161.294 149.926 140.531 170.66 140.531 196.236C140.531 221.811 161.294 242.545 186.906 242.545Z"
                            fill="#EB24E3" />
                        <path opacity="0.2"
                            d="M186.906 228.848C204.943 228.848 219.565 214.247 219.565 196.236C219.565 178.224 204.943 163.623 186.906 163.623C168.869 163.623 154.248 178.224 154.248 196.236C154.248 214.247 168.869 228.848 186.906 228.848Z"
                            fill="#F112E8" />
                        <path
                            d="M186.906 217.76C198.81 217.76 208.461 208.123 208.461 196.236C208.461 184.348 198.81 174.712 186.906 174.712C175.002 174.712 165.352 184.348 165.352 196.236C165.352 208.123 175.002 217.76 186.906 217.76Z"
                            fill="#F262FF" />
                        <path
                            d="M190.825 191.593C190.825 190.933 190.658 190.283 190.339 189.704C190.02 189.126 189.56 188.637 189.001 188.284C188.442 187.931 187.802 187.725 187.142 187.686C186.482 187.646 185.822 187.774 185.225 188.057C184.628 188.34 184.112 188.77 183.725 189.306C183.339 189.842 183.095 190.467 183.015 191.123C182.936 191.778 183.024 192.444 183.272 193.056C183.519 193.669 183.918 194.209 184.43 194.626L182.987 204.715H190.825L189.382 194.626C189.833 194.259 190.197 193.797 190.447 193.272C190.696 192.748 190.826 192.174 190.825 191.593V191.593Z"
                            fill="white" />
                        <path
                            d="M403.524 30.8536C403.524 30.8536 390.596 19.2792 373.21 41.0924C355.823 62.9056 328.63 73.5897 322.389 82.0478C322.389 82.0478 348.245 71.3638 357.161 66.9121C366.077 62.4605 365.631 63.3508 365.631 63.3508C365.631 63.3508 353.594 71.809 351.365 80.2672C349.136 88.7253 350.92 95.848 346.907 104.306C342.895 112.764 423.585 110.093 423.585 110.093C423.585 110.093 431.609 96.2932 429.38 82.0479C427.151 67.8025 428.489 32.6343 403.524 30.8536Z"
                            fill="#2F2E41" />
                        <path
                            d="M379.071 67.2655C379.071 67.2655 381.882 86.9161 369.834 91.3274C357.786 95.7388 362.204 101.754 362.204 101.754L380.276 110.577L399.553 104.562L405.978 94.9367C405.978 94.9367 395.537 92.5305 398.348 85.3119C401.159 78.0933 401.962 75.6871 401.962 75.6871L379.071 67.2655Z"
                            fill="#FFB9B9" />
                        <path opacity="0.1"
                            d="M379.071 67.2655C379.071 67.2655 381.882 86.9161 369.834 91.3274C357.786 95.7388 362.204 101.754 362.204 101.754L380.276 110.577L399.553 104.562L405.978 94.9367C405.978 94.9367 395.537 92.5305 398.348 85.3119C401.159 78.0933 401.962 75.6871 401.962 75.6871L379.071 67.2655Z"
                            fill="black" />
                        <path
                            d="M429.673 123.41C429.673 123.41 426.862 160.305 427.665 161.909C428.468 163.513 427.665 219.257 427.665 219.257C427.665 219.257 433.287 249.334 426.058 250.939C418.83 252.543 420.436 217.252 420.436 217.252L413.207 170.732L414.01 124.613L429.673 123.41Z"
                            fill="#FFB9B9" />
                        <path opacity="0.1"
                            d="M429.673 123.41C429.673 123.41 426.862 160.305 427.665 161.909C428.468 163.513 427.665 219.257 427.665 219.257C427.665 219.257 433.287 249.334 426.058 250.939C418.83 252.543 420.436 217.252 420.436 217.252L413.207 170.732L414.01 124.613L429.673 123.41Z"
                            fill="black" />
                        <path
                            d="M351.361 234.496C351.361 234.496 338.108 284.625 338.509 309.088C338.911 333.551 344.132 367.639 344.132 367.639C344.132 367.639 344.935 382.477 343.73 384.082C342.525 385.686 349.754 392.503 349.754 392.503L357.385 388.092L360.196 384.884V382.076C360.196 382.076 355.778 368.441 359.393 357.613C363.007 346.785 365.015 319.515 361.401 311.094L386.3 237.304L351.361 234.496Z"
                            fill="#FFB9B9" />
                        <path
                            d="M350.557 386.087C350.557 386.087 345.738 380.071 342.525 382.076C339.313 384.082 334.092 397.717 334.092 397.717C334.092 397.717 316.02 414.961 328.871 415.763C341.722 416.565 347.345 412.154 348.951 408.946C350.557 405.737 365.417 397.316 365.417 397.316C365.417 397.316 363.81 382.076 361.401 381.675C358.991 381.274 355.377 387.691 355.377 387.691L350.557 386.087Z"
                            fill="#2F2E41" />
                        <path
                            d="M395.135 237.705V287.433C395.182 293.467 395.584 299.492 396.34 305.479C397.545 314.302 389.513 380.071 389.513 380.071L390.316 391.701L400.356 390.899L401.561 380.873L416.018 336.76C416.018 336.76 420.838 309.891 418.428 299.865C416.018 289.839 430.878 225.674 430.878 225.674L395.135 237.705Z"
                            fill="#FFB9B9" />
                        <path
                            d="M387.103 388.894L390.078 388.248C390.078 388.248 392.324 383.28 395.135 384.483C397.113 385.394 398.988 386.515 400.725 387.827L401.962 390.097C401.962 390.097 404.774 396.113 408.388 400.123C412.002 404.133 416.018 412.956 409.994 413.758C403.97 414.56 395.938 414.961 393.529 412.956C391.119 410.951 392.726 407.743 390.316 406.94C387.906 406.138 385.898 403.732 386.3 402.93C386.702 402.128 387.103 388.894 387.103 388.894Z"
                            fill="#2F2E41" />
                        <path
                            d="M395.135 81.0785C404.993 81.0785 412.984 73.0987 412.984 63.2551C412.984 53.4115 404.993 45.4317 395.135 45.4317C385.278 45.4317 377.286 53.4115 377.286 63.2551C377.286 73.0987 385.278 81.0785 395.135 81.0785Z"
                            fill="#FFB9B9" />
                        <path
                            d="M361.401 94.5357L366.705 92.6863C366.705 92.6863 364.613 96.1398 375.858 98.145C387.103 100.15 398.748 100.86 403.97 94.2891C403.97 94.2891 405.978 93.3326 408.79 96.1399C411.601 98.9471 413.207 98.145 413.207 98.145L411.199 108.572L407.183 127.822L401.962 142.259L387.103 139.05L371.039 127.42L365.015 111.78V97.3429L361.401 94.5357Z"
                            fill="#FF8B66" />
                        <path
                            d="M410.396 100.15L414.412 97.3429C414.412 97.3429 428.066 99.7491 428.87 106.166L418.428 126.217C420.558 131.797 420.414 137.987 418.026 143.462C414.01 152.685 414.412 154.691 414.412 154.691L411.601 166.722L360.597 170.732C360.597 170.732 358.589 165.92 357.786 165.118C356.983 164.315 356.983 161.508 357.786 161.508C358.589 161.508 357.786 160.305 356.983 159.102C356.18 157.899 355.778 157.498 356.983 155.894C358.188 154.29 354.975 139.852 354.975 139.852V124.212L341.321 106.166C341.321 106.166 346.14 98.947 348.549 98.145C350.959 97.3429 362.421 94.1798 362.421 94.1798L365.015 97.9934L368.629 127.019L373.85 144.665L395.833 140.935L404.372 126.618L409.994 109.775L410.396 100.15Z"
                            fill="#FF8B66" />
                        <path
                            d="M425.657 103.759L428.87 106.166C428.87 106.166 431.681 128.623 430.878 130.228C430.075 131.832 416.018 133.436 415.617 132.634C415.215 131.832 425.657 103.759 425.657 103.759Z"
                            fill="#FF8B66" />
                        <path
                            d="M359.393 92.5305L363.409 118.999C363.409 118.999 359.794 158.3 360.597 166.321L361.401 168.727C361.401 168.727 359.794 167.925 359.393 169.529C358.991 171.133 359.393 176.346 359.393 176.346C359.393 176.346 356.983 178.753 356.18 191.987C355.377 205.221 345.738 236.902 349.353 238.105C352.967 239.309 374.653 245.324 386.3 244.121C397.946 242.918 439.713 228.882 439.311 225.272C438.91 221.663 418.83 170.732 418.83 170.732C418.83 170.732 415.215 164.716 415.215 163.914C415.215 163.112 420.035 159.904 418.83 156.696C417.625 153.488 411.199 119.801 411.199 119.801L415.617 95.7388L409.593 94.1346L405.175 117.395C405.175 117.395 387.906 125.816 369.834 118.197L365.818 90.9264L359.393 92.5305Z"
                            fill="#2F2E41" />
                        <path
                            d="M378.715 50.4638C378.715 50.4638 408.433 70.9165 416.466 61.6927C424.498 52.4689 402.409 44.4483 402.409 44.4483L383.936 42.4431L378.715 50.4638Z"
                            fill="#2F2E41" />
                        <path
                            d="M332.54 268.039C335.599 270.313 339.383 271.395 343.183 271.082C346.984 270.768 350.539 269.082 353.184 266.338C355.828 263.595 357.38 259.982 357.547 256.178C357.715 252.374 356.488 248.639 354.096 245.674C351.703 242.708 348.31 240.716 344.552 240.071C340.794 239.425 336.929 240.17 333.681 242.166C330.434 244.163 328.027 247.273 326.913 250.915C325.798 254.556 326.051 258.479 327.625 261.947L286.637 296.026L281.18 289.558L278.728 291.196L275.999 287.962L278.241 286.076L275.512 282.842L272.025 285.776L273.704 287.766L269.967 290.91L268.288 288.92L262.807 293.531L265.326 296.517L267.319 294.84L270.048 298.074L267.556 300.17L272.594 306.14L266.615 311.171L272.702 318.385L332.54 268.039ZM342.774 245.179C344.816 245.353 346.762 246.128 348.363 247.406C349.964 248.684 351.15 250.408 351.771 252.359C352.391 254.31 352.418 256.402 351.849 258.368C351.279 260.335 350.138 262.089 348.57 263.408C347.003 264.727 345.078 265.552 343.041 265.779C341.003 266.006 338.944 265.625 337.124 264.683C335.303 263.741 333.803 262.282 332.814 260.489C331.824 258.696 331.389 256.651 331.563 254.611C331.797 251.875 333.11 249.345 335.212 247.576C337.315 245.807 340.035 244.945 342.774 245.178V245.179Z"
                            fill="#FA599C" />
                        <path
                            d="M338.509 128.223C338.509 128.223 341.321 165.118 340.517 166.722C339.714 168.326 340.517 224.069 340.517 224.069C340.517 224.069 334.895 254.147 342.124 255.751C349.353 257.355 347.746 222.064 347.746 222.064L354.975 175.544L354.172 129.426L338.509 128.223Z"
                            fill="#FFB9B9" />
                        <path
                            d="M344.533 104.963L341.321 106.166C341.321 106.166 335.297 131.431 336.903 131.431C338.509 131.431 357.786 133.837 357.786 133.035C357.786 132.233 354.172 112.582 354.172 112.582L344.533 104.963Z"
                            fill="#FF8B66" />
                    </g>
                    <defs>
                        <clipPath id="clip0_102:64">
                            <rect width="586" height="421" fill="white" />
                        </clipPath>
                    </defs>
                </svg>


            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example13" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example23" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a href="#!">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        style="background-color: #ff3f6c; border: none;">Sign in</button>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                        role="button">
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                        role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>

                </form>
            </div>
        </div>
    </div>
</section>