<link rel="stylesheet" href="css/profile.css">
<div class="container-1">
    <h4>My Account</h4>
    <table>
        <tr>
            <td>Name</td>
            <td>Jatin</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>abc@example.com</td>
        </tr>
        <tr>
            <td>Coins</td>
            <td>543 &nbsp;<i class="fas fa-coins"></i></td>
        </tr>
    </table>
</div>

<div class="container-2">
    <h4>Past Orders</h4>
    <table class="past-order">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Coins Earned</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="images/buy-1.jpg">
                    <div>
                        <p>Red Printed Tshirt</p>
                    </div>
                </div>
            </td>
            <td>$50.00</td>
            <td>1</td>
            <td>$50.00</td>
            <td>5.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="images/buy-2.jpg">
                    <div>
                        <p>HRX Black Shoes</p>
                    </div>
                </div>
            </td>
            <td>$60.00</td>
            <td>1</td>
            <td>$60.00</td>
            <td>5.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="images/buy-3.jpg">
                    <div>
                        <p>Comfortable Gray Pants</p>
                    </div>
                </div>
            </td>
            <td>$65.00</td>
            <td>2</td>
            <td>$130.00</td>
            <td>5.00</td>
        </tr>
    </table>
</div>
