<link rel="stylesheet" href="css/winner.css">
<div class="winner-container">
    <img class="image-1" src="images/winner-1.png">
    <h2><%=winnerName%> has won the bid</h2>
    <a href="/">
        <button class="btn btn-main mt-20">
            HOME PAGE
        </button>
    </a>
    <img class="image-2" src="images/winner-1.png">
</div>