.cart-page{
    margin:80px auto;
    width: 80%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgba(241,115,31,0.9);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: rgba(241,115,31,0.9);
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid rgba(241,115,31,0.9);
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.handle-quantity{
    padding: 5px;
    font-size: 1.2rem;
    border: 0px solid white;
    margin-right: 2px;
    margin-left: 1px;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height:400px;
}

.shop-now-button{
    background: linear-gradient(45deg,rgba(241,115,31,0.9),rgba(253,0,206,0.8));
    padding: 10px 20px;
}

@media only screen and (max-width:600px){
    .cart-info p{
        display: none;
    }
}