.row{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(45deg,rgba(241,115,31,0.9),rgba(253,0,206,0.8));
    margin: 0;
    max-width: 100%;
}

.col-2{
    flex-basis: 50%;
    min-width: 500px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
    color: white;
}

/* featured categories  */ 

.row-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.categories{
    margin:70px 0;
}

.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h6{
    color: #555;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0.75px;
}

.col-4 p{
    font-size: 14px;
}

.rating .far{
    color: #ff523b;
}

.rating .fas{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}