* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins',sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    padding: 0 5%;
    border-bottom: 1px solid #E2E8F0;
    /* position: fixed; */
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-link{
    font-size: 1.15rem;
    font-weight: 400;
    color: #475569;
    margin-top: 12.5px;
}
 
.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 1rem;
    font-weight: 500;
    color: #482ff7;
}

.navbar-content{
    display: none;
}

.navbar-content-margin{
    display: block;
    height: 1px;
    margin-top: 800px;
}

@media only screen and (max-width: 1200px){
    .header{
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        background: linear-gradient(45deg,rgba(241,115,31,1),rgba(253,0,206,1));
        z-index: 2;
        box-shadow: 0 10px 27px rgba(190, 171, 171, 0.05);
    }
    main
    {
        overflow: hidden;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 350px;
    left:-150px;
    top:40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding:20px;
    color: black;
}
  
.dropdown-content p{
    font-size: 0.95rem;
    color: gray;
}

.dropdown-content a {
    color: rgba(253,0,206,1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    font-weight: bolder;
}

.dropdown-content button{
    background-color: white;
    border: 1px solid lightgray;
}
  
.dropdown:hover .dropdown-content {display: block;}

.footer{
    margin:0;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: black;
    height: 50px;
    position:fixed;
    bottom:0;
}

.footer p{
    font-size: small;
    padding: 15px 0 5px;
    color: white;
}

